.office-title{
text-align:center;
font-size:34px;
color:#8B0000;
margin:40px 0 30px;
font-weight:bold;
}

.office-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-bottom:40px;

}

.office-card{

background:#ffffff;

width:250px;

border-radius:20px;

padding:25px;

text-align:center;

box-shadow:0 8px 25px rgba(0,0,0,.18);

transition:.35s;

border:2px solid #8B0000;

}

.office-card:hover{

transform:translateY(-10px);

box-shadow:0 15px 35px rgba(0,0,0,.25);

}

.office-card img{

width:170px;

height:170px;

object-fit:cover;

border-radius:50%;

border:5px solid #8B0000;

padding:4px;

background:white;

}

.ribbon{

margin:18px auto;

display:inline-block;

background:#8B0000;

color:white;

padding:10px 28px;

font-size:24px;

font-weight:bold;

border-radius:6px;

}

.office-card h3{

margin-top:15px;

font-size:30px;

color:#1b2b5a;

font-weight:bold;

}

@media(max-width:768px){

.office-card{

width:92%;

}

.office-title{

font-size:28px;

}

.office-card img{

width:140px;

height:140px;

}

.ribbon{

font-size:20px;

}

.office-card h3{

font-size:24px;

}

}
